<%= form_with(model: inventory_model, local: true) do |form| %>
  <% if inventory_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_model.errors.count, "error") %> prohibited this inventory_model from being saved:</h2>

      <ul>
      <% inventory_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inventory_model_name %>
    <%= form.text_field :inventory_model_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :sold_quantity %>
    <%= form.number_field :sold_quantity %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field  :image %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
