<div class="form-group">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="form-group">
  <%= f.label :warehoused_on %>
  <%= f.date_select :warehoused_on %>
</div>
<div class="form-group">
  <%= f.label :inventory_item_category_id %>
  <%= f.number_field :inventory_item_category_id %>
</div>
<div class="form-group">
  <%= f.label :inventory_model_id %>
  <%= f.number_field :inventory_model_id %>
</div>
<div class="form-group">
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
</div>
<div class="form-group">
  <%= f.label :image %>
  <%= f.file_field  :image %>
</div>
