- if user_signed_in? && current_user.admin
  %p#notice= notice
  %h1 Inventory Items
  %table
    %thead
      %tr
        %th Inv item category
        %th Model
        %th Name
        %th Price
        %th Description
        %th Warehoused on
        %th(colspan="3")
    %tbody
      / - binding.pry
      - @inventory_items.each do |inventory_item|
        %tr
          %td= inventory_item.inventory_item_category_id
          %td= inventory_item.inventory_model_id
          %td= inventory_item.name
          %td= inventory_item.price
          %td= inventory_item.description
          %td= inventory_item.warehoused_on
          %td= link_to 'Show', inventory_item
          %td= link_to 'Edit', edit_inventory_item_path(inventory_item)
          %td= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Inventory Item', new_inventory_item_path
- else
  .card(style = "margin: 20px 0px;")
    .card-header
      Featured Products
      = paginate @inventory_items
      = page_entries_info @inventory_items
      //= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
    .card-body
      .row
        - @inventory_items.each do |inventory_item| 
          .card.text-center.col-lg-4.col-md-6(style = "margin: 5px 0px;")          
            //- binding.pru
            = link_to image_tag(inventory_item.image_url(:inventory_item)), inventory_item, :class => "img card-img-top"          
            .card-body       
              %h5.card-title 
                =inventory_item.name
              %p.card-text
                Unit Price:
                =number_to_currency inventory_item.price
              %p.card-text
                Quantity:
                .abc(id="item_qnt-#{inventory_item.id}")
                  = inventory_item.quantity
              %p.card-text  
              = button_to 'Add to cart', order_line_items_path(inventory_item_id: inventory_item), remote: true, class: 'btn button btn-primary'