- if user_signed_in? && current_user.admin
  = form_with(model: order, local: true) do |form|
    - if order.errors.any?
      #error_explanation
        %h2
          = pluralize(order.errors.count, "error")
          prohibited this order from being saved:
        %ul
          - order.errors.full_messages.each do |message|
            %li= message
    .field
      = form.label :user_id
      = form.text_field :user_id
    .field
      = form.label :total_amount
      = form.text_field :total_amount
    .field
      = form.label :state
      = form.number_field :state
    .actions
      = form.submit 
-else
  = form_with(model: order, local: true) do |form|
    - if order.errors.any?
      #error_explanation
        %h2
          = pluralize(order.errors.count, "error")
          prohibited this order from being saved:
        %ul
          - order.errors.full_messages.each do |message|
            %li= message
    = form.hidden_field :state, :value => '2'
    = form.hidden_field :total_amount, :value => order.total_price
    - if current_user != nil
      = form.hidden_field :user_id, :value => current_user.id
    .actions
    = form.submit "Checkout", class: 'btn button btn-success'