- if user_signed_in? && current_user.admin  
  %p#notice= notice
  %h1 Orders
  %table
    %thead
      %tr
        %th User
        %th Total amount
        %th State
        %th(colspan="3")
    %tbody
      - @orders.each do |order|
        %tr
          %td= order.user
          %td= order.total_amount
          %td= order.state
          %td= link_to 'Show', order
          %td= link_to 'Edit', edit_order_path(order)
          %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Order', new_order_path
- else
  %p#notice= notice
  %h1 Orders
  %table
    %thead
      %tr
        %th User id
        %th Total amount
        %th State
        %th(colspan="3")
    %tbody
      - @orders.each do |order|
        %tr
          %td= order.user_id
          %td= order.total_amount
          %td= order.state
          %td= link_to 'Show', order
