<%= form_with(model: inventory_item_category, local: true) do |form| %>
  <% if inventory_item_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_item_category.errors.count, "error") %> prohibited this inventory_item_category from being saved:</h2>

      <ul>
      <% inventory_item_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_name %>
    <%= form.text_field :category_name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field  :image %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
