- if user_signed_in? && current_user.admin
  %p#notice= notice
  %h1 Order Line Items
  %table
    %thead
      %tr
        %th Inventory item
        %th Order
        %th Order item qty
        %th Total price
        %th Order line item price
        %th(colspan="3")
    %tbody
      - @order_line_items.each do |order_line_item|
        %tr
          %td= order_line_item.inventory_item.id
          %td= order_line_item.order.id
          %td= order_line_item.order_item_qty
          %td= order_line_item.total_price
          %td= order_line_item.order_line_item_price
          %td= link_to 'Show', order_line_item
          %td= link_to 'Edit', edit_order_line_item_path(order_line_item)
          %td= link_to 'Destroy', order_line_item, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Order Line Item', new_order_line_item_path
-else
  %div