- if current_user && current_user.admin?
  %p#notice= notice
  %p
    %strong Inventory item:
    = @order_line_item.inventory_item.id
  %p
    %strong Order:
    = @order_line_item.order.id
  %p
    %strong Order item qty:
    = @order_line_item.order_item_qty
  %p
    %strong Total price:
    = @order_line_item.total_price
  %p
    %strong Order line item price:
    = @order_line_item.order_line_item_price
  = link_to 'Edit', edit_order_line_item_path(@order_line_item)
  |
  = link_to 'Back', order_line_items_path